{"1_Rolagem"                    1
 "1_PodaFormacao"               2
 "1_DesramaArvJv"               3
 "1_SachaAmontoa"               4
 "1_QueimaResidPoda"            5
 "1_PlantRdFdCont"              6
 "1_PlantFdRaiz"                7
 "1_RetanchaRdFdCont"           8
 "1_RetanchaFdRaiz"             9
 "1_AdensaRegNat"               10
 "1_AdensaPlant"                11
 "1_Adubacao"                   12
 "1_ColocProtectIndiv"          13
 "1_SemCovacho"                 14
 "1_Semlanco"                   15
 "1_AberCovas303030"            16
 "1_AberCovas404040"            17
 "1_SelArvFuturo"               18
 "1_SinalRegNat"                19
 "1_CtrlPlLenhosasInv"          20
 "1_FogoCtrlPovoamentos"        21
 "1_FogoCtrlMatos"              22
 "1_MarcaPique"                 23
 "1_DescorVirgem"               24
 "1_DescortMature"              25
 "2_PodaFormacao"               26
 "2_DesramaArvAd"               27
 "2_PodaSanit"                  28
 "2_SelVarasEc"                 29
 "2_RedDensFd"                  30
 "2_RedDensPm"                  31
 "2_RedDensRdMenos8anos"        32
 "2_RedDensRdMais8anos"         33
 "2_LimpezaMatosMotorrocadora"  34
 "2_CtrlVegLinha"               35
 "2_CtrlVegTotal"               36
 "2_CtrlVegLenhInvas"           37
 "2_CtrlDensExce"               38
 "3_LimpezaMatoFacasCorrentes"  39
 "3_LimpezaMatoMartelos"        40
 "3_LimpezaMatoGradeDiscos"     41
 "3_GradagemVegEspPoucoDesenv"  42
 "3_GradagemDestorroamento"     43
 "3_Ripagem1dente"              44
 "3_Ripagem2dentes"             45
 "3_Ripagem3dentes"             46
 "3_Subsolagem1dente"           47
 "3_Subsolagem3dentes"          48
 "3_ValaComoro3m30cm"           49
 "3_ValaComoro3m40cm"           50
 "3_ValaComoro3m50cm"           51
 "3_LavouraContinua"            52
 "3_AberturaRegosSementeira"    53
 "3_AberturaCovasBroca"         54
 "3_DestrCeposEucalipto"        55
 "3_AplicAduboLinhaRodas"       56
 "3_AplicAduboLinhaLagartas"    57
 "3_AplicAduboTotalRodas"       58
 "3_AplicAduboTotalLagartas"    59
 "3_Rega"                       60
 "3_CtrlVegEsp"                 61
 "3_TratFito"                   62
 "INFRA_AbertCaminhosComValeta" 63
 "INFRA_BenefCaminhosLamina"    64
 "INFRA_AbertAceiros"           65
 "INFRA_BenefAceiros"           66
 "INFRA_AbertCharcas"           67
 "INFRA_BarragensTerra"         68}
























































